@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @variants responsive {

      .videos {
        column-count: 2;
        column-gap: 3px;
        
      }

        .masonry {
          column-count: 3;
          column-gap: 0.5em;
        }

        .item {
          display: inline-block;
          width: 100%;
        }

        @media only screen and (max-width: 1023px) and (min-width: 768px) {
          .masonry {
            column-count: 2;
          }
        }
        @media only screen and (max-width: 1023px) and (min-width: 768px) {
          .videos {
            column-count: 2;
          }
        }
    }

    @variants horizontalsImages {
      .horizontals {
        display: flex;
        column-count: 4; /* Número de columnas dentro de cada sección */
        column-gap: 10px;
      }
    }
}

@layer base {
  body {
    @apply bg-[#1e1e1e];
  }
}